---
interface Params {
  lang: "en" | "pt"
}

interface Props {
  translations: {
    title: string,
    paragraph_l1: string,
    paragraph_l2: string,
    paragraph_l3: string,
    paragraph_l4: string,
    button_1: string,
    button_2: string
  }
}

export function getStaticPaths () {
 return [
    {params: {lang: 'en'}},
    {params: {lang: 'pt'}},
  ]
}

const { translations } = Astro.props
const { lang } = Astro.params as Params;

import Insurance from '../icons/Insurance.astro'
import Anywhere from '../../assets/icons/anywhere.svg'
import Card from '../icons/Card.astro'
import Driver from '../../assets/icons/driver.svg'
import Roadside from '../../assets/icons/roadside.svg'
import Mileage from '../../assets/icons/mileage.svg'

const cards = [
  {
    "icon": "insurance",
    "title": {
      "en": "Premium Insurance included",
      "pt": "Seguro Premium incluído"
    },
    "description": {
        "en": "Tranquility is essential when you travel. Premium Insurance has a deductible waiver and the coverage you need to protect yourself from unexpected mishaps.",
        "pt": "A tranquilidade é fundamental quando você viaja. O Seguro Premium possui isenção de franquia e a abrangência que você precisa para proteger-se de contratempos inesperados."
    }
  },
  {
    "icon": Anywhere.src,
    "title": {
      "en": "Receive and return anywhere",
      "pt": "Receba e devolva onde estiver"
    },
    "description": {
        "en": "Whether at the airport door or your hotel, receive and return wherever you prefer. No queues, no waiting, and no long walks.",
        "pt": "Seja à porta do aeroporto ou do seu hotel, receba e devolva onde preferir. Sem filas, sem esperas e sem longas caminhadas."
    }
  },
  {
    "icon": "card",
    "title": {
      "en": "No credit card required",
      "pt": "Sem cartão de crédito"
    },
    "description": {
        "en": "We believe in hassle-free rentals. We do not require a deposit, and we do not block your credit card.",
        "pt": "Acreditamos em alugueres sem complicações. Não exigimos caução e não bloqueamos o seu cartão de crédito."
    }
  },
  {
    "icon": Driver.src,
    "title": {
      "en": "Free additional driver",
      "pt": "Condutor adicional gratuito"
    },
    "description": {
        "en": "Enjoy the freedom of free additional drivers. It's our way of ensuring that everyone experiences the trip together, at no extra cost.",
        "pt": "Aproveite a liberdade de condutores adicionais gratuitos. É a nossa maneira de garantir que todos vivam a viagem juntos, sem nenhum custo extra."
    }
  },
  {
    "icon": Roadside.src,
    "title": {
      "en": "Roadside assistance",
      "pt": "Assistência em viagem"
    },
    "description": {
        "en": "Throughout your stay, you can count on our 24/7 roadside assistance. We are here to help you with whatever you need.",
        "pt": "Durante toda a sua estadia, pode contar com a nossa assistência em viagem 24/7. Estamos aqui para o ajudar no que for preciso."
    }
  },
  {
    "icon": Mileage.src,
    "title": {
      "en": "Unlimited mileage",
      "pt": "Quilometragem ilimitada"
    },
    "description": {
        "en": "Explore Madeira without limits, go wherever you want with total freedom, without worrying about additional costs.",
        "pt": "Explore a Madeira sem limites, vá aonde quiser com libertade total, sem preocupações com custos adicionais."
    }
  },
]
---

<div id="why_us" class="w-full margin py-12 xl:py-24 gap-8 xl:gap-12 flex flex-col">

    <!-- Title -->
    <h2 class="text-4xl xl:text-5xl font-bold">{translations.title}</h2>

    <!-- Description -->
    <p>
        {translations.paragraph_l1}<br />
        {translations.paragraph_l2}<br />
        {translations.paragraph_l3}<br />
        {translations.paragraph_l4}
        <a target="_blank" href="https://www.google.com/search?sca_esv=3cf5305f7235dc23&tbm=lcl&sxsrf=ADLYWIIjpL3gnJgjuGz15oNC7DzYxm7K5g:1715971983926&q=Achieve+Rent+a+Car+Reviews&rflfq=1&num=20&stick=H4sIAAAAAAAAAONgkxK2NDEzM7UwNjQxMDMxMrU0NjMz2MDI-IpRyjE5IzO1LFUhKDWvRCFRwTmxCMgsy0wtL17EikcSAB9GV0BUAAAA&rldimm=9466583140642593660&hl=en-PT&sa=X&ved=2ahUKEwj49a7krZWGAxUzbKQEHX2PCgwQ9fQKegQILRAF#lkt=LocalPoiReviews" class="text-blue">
            Google Reviews.
        </a>
    </p>

    <!-- Buttons -->
    <div class="flex gap-4">
        <button class="booknow underline text-blue">{translations.button_1}</button>
        <a href={"/"+lang+"/contact"} class="text-blue">{translations.button_2}</a>
    </div>

    <!-- Cards -->
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-4">

        {cards.map((feature) =>
            <div class="border-b-4 border-blue rounded-lg shadow-2xl flex flex-col justify-start items-center gap-4 p-4">
                {(
                  feature.icon == "insurance")? (
                    <Insurance />
                  ):(
                  feature.icon == "card")? (
                    <Card />
                  ):(
                    <img src={feature.icon} alt={feature.title+" icon"} class="w-12 h-12">
                )}
                <h3 class="text-xl">{feature.title[lang]}</h3>
                <p class="text-center">{feature.description[lang]}</p>
            </div>
        )}

    </div>

</div>
