---
const { translations } = Astro.props

import Check from '../../assets/icons/check.svg'
const list = [1,2,3,4,5,6,7].map((i) => {
  return translations["checklist_p"+i]
})
---

<div id="hero" class="w-full pb-44 pt-12 xl:pt-24 bg-cover margin text-white bg-center">

    <!-- Achieve Rent a Car -->
    <h2 class="text-xl xl:text-3xl font-bold">
        <span class="text-white" id="achieve">Achieve</span>
        <span class="text-blue">Rent a Car</span>
    </h2>

    <!-- Hero Title -->
    <h1 class="text-5xl xl:text-7xl font-bold py-4">{translations.title_p1}<br />{translations.title_p2}</h1>

    <!-- Checklist -->
    <ul class="flex flex-col gap-2 font-semibold contorno">
        {list.map((item) =>
            <li class="flex gap-2">
                <img class="w-4" src={Check.src} alt="Check" />
                {item}
            </li>
        )}
    </ul>

    <!-- Buttons -->
    <div class="flex gap-4 py-4">
        <button class="booknow px-4 py-2 rounded-lg bg-blue">{translations.button_1}</button>
        <button id="checkreviews" class="px-4 py-2 rounded-lg bg-white text-blue">{translations.button_2}</button>
    </div>

</div>


<style>

    #hero {
        background-image: url('/src/assets/hero-phone.webp');
    }

    @media (min-width: 768px) {
        #hero {
            background-image: url('/src/assets/hero.webp');
        }
    }

</style>
