---
import Logo from "../assets/astro.svg"
import { getLanguage, getPath } from '../utils/global'
const lang = getLanguage(Astro.request.url);
const langPrefix = "/"+lang+"/";
const path = getPath(Astro.request.url);

const links = [
  {
    "src": langPrefix,
    "name": (lang=="pt"?"Início":"Home")
  },
  {
    "src": langPrefix+"fleet",
    "name": (lang=="pt"?"Frota":"Fleet")
  },
  {
    "src": langPrefix+"seats",
    "name": (lang=="pt"?"Cadeiras Auto":"Car Seats")
  },
  {
    "src": langPrefix+"accommodations",
    "name": (lang=="pt"?"Alojamentos":"Accommodations")
  },
  {
    "src": langPrefix+"about",
    "name": (lang=="pt"?"Sobre nós":"About Us")
  },
  {
    "src": langPrefix+"contact",
    "name": (lang=="pt"?"Contate-nos":"Contact Us")
  }
]

const flags = [
  {
    "src": "/pt/"+path,
    "name": "Pt"
  },
  {
    "src": "/en/"+path,
    "name": "En"
  },
]
---

<nav class="fixed top-0 left-0 w-full h-20 flex items-center justify-between p-4">

    <div id="logo" class="flex items-center">
        <a href="/">
            <img src={Logo.src} alt="Achieve Rent a Car logo">
        </a>
    </div>

    <div class="flex items-center gap-4">

        <div id="links" class="flex items-center gap-4">
            {links.map((link) =>
                <a href={link.src}>{link.name}</a>
            )}
        </div>

        <div id="languages" class="flex items-center gap-4">
            {flags.map((language) =>
                <a href={language.src} class="border-2 border-black rounded-lg px-2 py-1">{language.name}</a>
            )}
        </div>

    </div>

</nav>
