---
import Logo from "../assets/achieve.webp"

import PtFlag from '../assets/pt.jpg'
import EnFlag from '../assets/en.jpg'

import HomeIcon from '../assets/icons/home.svg'

const { lang } = Astro.params;
const langPrefix = "/"+lang+"/";
const path = Astro.url.pathname.split('/')[2];

const links = [
  {
    "src": langPrefix,
    "name": (lang=="pt"?"Início":"Home"),
    "icon": HomeIcon.src
  },
  {
    "src": langPrefix+"fleet",
    "name": (lang=="pt"?"Frota":"Fleet"),
    "icon": HomeIcon.src
  },
  {
    "src": langPrefix+"seats",
    "name": (lang=="pt"?"Cadeiras Auto":"Car Seats"),
    "icon": HomeIcon.src
  },
  {
    "src": langPrefix+"accommodations",
    "name": (lang=="pt"?"Alojamentos":"Accommodations"),
    "icon": HomeIcon.src
  },
  {
    "src": langPrefix+"about",
    "name": (lang=="pt"?"Sobre nós":"About Us"),
    "icon": HomeIcon.src
  },
  {
    "src": langPrefix+"contact",
    "name": (lang=="pt"?"Contate-nos":"Contact Us"),
    "icon": HomeIcon.src
  }
]

const flags = [
  {
    "src": "/pt/"+path,
    "image": PtFlag.src,
    "name": "Portuguese Flag"
  },
  {
    "src": "/en/"+path,
    "image": EnFlag.src,
    "name": "English Flag"
  },
]
---

<nav class="fixed top-0 left-0 w-full h-24 flex items-center justify-between p-8 bg-white text-blue-800 z-50">

    <div id="logo" class="flex items-center">
        <a href={langPrefix}>
            <img src={Logo.src} alt="Achieve Rent a Car logo">
        </a>
    </div>

    <div class="flex items-center gap-4">

        <div id="links" class="flex items-center gap-4">
            {links.map((link) =>
                <a href={link.src} class="flex gap-1"><img class="w-4" src={link.icon} alt={link.name+" icon"}>{link.name}</a>
            )}
        </div>

        <div id="languages" class="flex items-center gap-4">
            {flags.map((language) =>
                <a href={language.src}>
                    <img src={language.image} alt={language.name} class="rounded">
                </a>
            )}
        </div>

    </div>

</nav>
