---
// Get language from url and translations from json
interface Params { lang: "en" | "pt" }
const { lang } = Astro.params as Params
export function getStaticPaths () { return [ {params: {lang: 'en'}}, {params: {lang: 'pt'}} ] }
import Languages from "../../assets/translations.json"
const translations = Languages.pages["fleet"][lang]

import Layout from '../../layouts/Layout.astro'
import Banner from "../../components/Banner.astro"
import Vehicle from "../../components/fleet/Vehicle.astro"

import FleetJson from '../../assets/fleet.json'
const fleet = FleetJson[lang]
---

<Layout title={translations.title} lang={lang}>

    <Banner page="Fleet" title={translations.title} />
    <main class="grid md:grid-cols-2 xl:grid-cols-3 gap-28 margin py-12">
        {fleet.map((vehicle) =>
            <Vehicle vehicle={vehicle} translations={translations} lang={lang} />
        )}
    </main>

</Layout>
