---
import Cookie from '../components/head/Cookie.astro'
import Author from '../components/head/Author.astro'
import Seo from '../components/head/Seo.astro'

const { page, lang } = Astro.props
import Ad from '../assets/ad.json'
import Navbar from '../components/Navbar.astro'
import Sidebar from '../components/Sidebar.astro'
import Footer from '../components/Footer.astro'
import { toTitleCase } from '../assets/functions.ts'
---

<!doctype html>
<html lang={lang}>

	<head>
	    <Cookie />
	    <Author />
	    <Seo lang={lang} />

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />

		<link rel="icon" href="/favicon.ico" />

		<title>{toTitleCase(page)} - Achieve Rent a Car</title>

	</head>

	<body class="min-h-screen">

	   <Sidebar />
	   <Navbar lang={lang} />

		<article class={"min-h-screen "+(Ad.is_active?"pt-40":"pt-24")}>
		    <slot />
		</article>

		<Footer lang={lang} />

    	<style is:global>

            a { @apply underline }
            main { @apply w-full }
    	    .margin { @apply px-6 md:px-20 }
            #achieve {
                text-shadow:
                    0.5px 0.5px 0 #DA291C,
                    -0.5px 0.5px 0 #DA291C,
                    -0.5px -0.5px 0 #DA291C,
                    0.5px -0.5px 0 #DA291C;
            }
            /* .contorno {
                text-shadow:
                    0.5px 0.5px 0 #000000,
                    -0.5px 0.5px 0 #000000,
                    -0.5px -0.5px 0 #000000,
                    0.5px -0.5px 0 #000000;
            } */
            .green-button { @apply px-4 py-2 rounded-lg bg-green-600 text-white no-underline }

    	</style>

	</body>
</html>
